body {
  background-color: rgb(81, 81, 81);
  color: white;
}
h1 {
  text-align: center;
  font-style: italic;
}
table {
  margin: 20px auto;
  border: 2px solid whitesmoke;
}
input {
  margin-left: 18px;
  border: 3px solid rgb(153, 32, 218);
  width: 20%;
  padding: 5px;
}
td {
  width: 5%;
  font-size: 20px;
}
thead td {
  font-weight: bold;
}
.highlighted {
  background-color: rgb(163, 218, 187);
  color: white;
}
table {
  background-color: rgb(112, 216, 157);
}
button {
  background-color: rgb(233, 255, 192);
}
