body {
    background-color: rgb(232, 226, 195);
}

h1 {
    text-align: center;
}

input {
    margin-left: 10px;
    border: 2px solid rgb(74, 102, 156);
    width: 20%;
    padding: 5px;

}  

table {
    margin: 20px auto;
    border: 2px solid rgb(74, 102, 156);
    width: 80%;
}

thead th a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(74, 102, 156);
    cursor: pointer;
}

/* Removed thead td code here */
/* Removed Button code here */

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse; /* Taking out the double border */
}

a.ascending::after {
    content: "\25B2";
}

a.descending::after {
    content: "\25BC";
}

a.no-sort::after {
    content: "";
}